<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyzyxy.attendance.mapper.CourseMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lyzyxy.attendance.model.Course">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="className" property="className" />
		<result column="teacherId" property="teacherId" />
	</resultMap>
	
	<sql id="Base_Column_List">
        id, name,className,teacherId
    </sql>
</mapper>
