<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyzyxy.attendance.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lyzyxy.attendance.model.User">
		<id column="id" property="id" />
		<result column="password" property="password" />
		<result column="username" property="username" />
		<result column="name" property="name" />
		<result column="no" property="no" />
		<result column="photo" property="photo" />
		<result column="isTeacher" property="isTeacher" />
	</resultMap>
	
	<sql id="Base_Column_List">
        id, username,password,name,no,photo,isTeacher
    </sql>

	<select id="attendance" resultType="com.lyzyxy.attendance.dto.UserDto">
		 SELECT a.id,a.name,a.no,a.photo,b.s/c.ss rate,
		  CASE WHEN b.s IS NULL THEN c.ss
			ELSE c.ss-b.s END loss
		  FROM
		(SELECT user.*,sc.`classId` FROM USER LEFT JOIN sc ON user.`id` = sc.`studentId`
		 WHERE sc.`classId` = #{courseId}) a LEFT JOIN
		(
		SELECT studentId,COUNT(*) s FROM SIGN LEFT JOIN record ON sign.`recordId` = record.`id`
		 WHERE END IS NOT NULL AND courseId = #{courseId}
		 GROUP BY studentId) b ON a.id = b.studentId
		LEFT JOIN (
		SELECT courseId,COUNT(*) ss FROM record WHERE END IS NOT NULL AND courseId = #{courseId}) c
		ON a.classId = c.courseId
		ORDER BY rate DESC
	</select>
    
    <select id="test" resultType="map">
        select * from user
    </select>
</mapper>
