<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyzyxy.attendance.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lyzyxy.attendance.model.User">
		<id column="id" property="id" />
		<result column="password" property="password" />
		<result column="username" property="username" />
		<result column="name" property="name" />
		<result column="no" property="no" />
		<result column="photo" property="photo" />
		<result column="isTeacher" property="isTeacher" />
	</resultMap>
	
	<sql id="Base_Column_List">
        id, username,password,name,no,photo,isTeacher
    </sql>

	<select id="attendance" resultType="com.lyzyxy.attendance.dto.UserDto">
		SELECT b.id,b.name,b.no,b.photo,b.s/c.ss rate FROM
		 (SELECT a.*,COUNT(*) s FROM (SELECT user.* FROM USER LEFT JOIN sc ON user.`id` = sc.`studentId`
		 WHERE sc.`classId` = #{courseId}) a LEFT JOIN SIGN ON a.id = sign.`studentId`
		 GROUP BY a.id) b,
		 (SELECT COUNT(*) ss FROM record WHERE courseId = #{courseId} AND COUNT != 0) c
		 ORDER BY rate DESC
	</select>
    
    <select id="test" resultType="map">
        select * from user
    </select>
</mapper>
